<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    
    <h1> My Post </h1>
    {% for post in Post %}
        {{post.title}} &nbsp; 
        <a href='editpost/{{post.id}}' ><button>Edit</button></a> &nbsp; 
        <a href='deletepost/{{post.id}}' onclick="return confirm('sure ?')" ><button>Delete</button></a> &nbsp;
        <br>
    {% endfor %}
</body>
</html>